<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Endre dyr</title>
</head>
<body>
    <div class="navbar">
        <button name="navbarB">
            <a href="/">Home</a><br>
        </button>
        <button name="navbarB">
            <a href="/Public/registrer">Registrer</a><br>
        </button>
        <button name="navbarB">
            <a href="/Public/login">Log in</a><br>
        </button>
    </div>
    <h1>Endre</h1>
</body>
</html>